.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.login-box {
  width: 400px;
  height: 45%;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.5s ease;
}

.login-title {
  margin-bottom: 20px !important;
  color: #333;
  font-weight: bold;
}

.login-input {
  margin-bottom: 5px !important;

  .MuiInputBase-root {
    background-color: #f2f2f2;
  }
}

.login-button {
  margin-top: 30px !important;
  background-color: #ff4081;

  &:hover {
    background-color: #e91e63;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
